<%-include("header.ejs") %>
<div class="pege-content">
  <div class="detail-container">
    <% if (locals.data) { %>
    <img src="https://image.tmdb.org/t/p/w780<%=data.backdrop_path%>" alt="" />
    <div class="card-detail">
      <div class="content">
        <div class="poster-img">
          <img
            src="https://image.tmdb.org/t/p/w780<%=data.poster_path%>"
            alt=""
          />
        </div>
        <div class="item-description">
          <div class="rating" <% if (data.vote_average.toFixed(1) * 10>
            69) { %> style=" --progress: <%=data.vote_average.toFixed(1) *
            10%>%; background: conic-gradient( green var(--progress, 0),
            rgb(181, 181, 181) 0% ); " <% } else if (70>
            data.vote_average.toFixed(1) * 10 && data.vote_average.toFixed(1) *
            10 >=49) { %> style=" --progress: <%=data.vote_average.toFixed(1) *
            10 %>%; background: conic-gradient(yellow var(--progress, 0),
            rgb(181, 181, 181) 0% ); " <% } else if (50>
            data.vote_average.toFixed(1) * 10 ){ %> style="
            --progress:<%=data.vote_average.toFixed(1) * 10%>%; background:
            conic-gradient(red var(--progress, 0), rgb(181, 181, 181) 0% ); "
            <%}%> >
            <div
              class="mask"
              aria-valuenow="<%= data.vote_average.toFixed(1)* 10 %>%"
              role="rating"
            ></div>
          </div>
        </div>
      </div>
      <div class="overview">
        <h1><%= data.title %></h1>
        <p class="overview-text"><%= data.overview%></p>

        <h4>Release Date: <%= data.release_date%></h4>
        <% locals.data.genres.forEach((genre) =>{ %>
        <li></li>
        <%}) %>
      </div>
    </div>
    <div class="similar">
      <h1>Similar Movies</h1>
      <%if (locals.recomendation.length >0) { %>

      <div class="recomended-show">
        <% locals.recomendation.forEach((movie)=> { %>
        <div class="movie-rec">
          <a href="/details/<%=movie.id%>">
            <img
              src="https://image.tmdb.org/t/p/w500<%=movie.poster_path%>"
              alt=""
            />
          </a>
          <div class="rating-similar" <% if (movie.vote_average.toFixed(1)*10>
            69) { %> style="--rating:<%=movie.vote_average.toFixed(1)*10%>%;
            background:conic-gradient(green var(--rating, 0), rgb(181,181,181)
            0%);" <% } else if (70> movie.vote_average.toFixed(1)*10 &&
            movie.vote_average.toFixed(1)*10 >= 50){ %> style="--rating:<%=
            movie.vote_average.toFixed(1)*10%>%;
            background:conic-gradient(yellow var(--rating, 0), rgb(181,181,181)
            0%);" <% } else { %> style="--rating: <%=
            movie.vote_average.toFixed(1)*10%>%; background: conic-gradient(red
            var(--rating, 0), rgb(181, 181, 181) 0%) " <% } %> >
            <div
              class="mask-similar"
              aria-valuenow="<%= movie.vote_average.toFixed(1)*10  %>%"
            ></div>
          </div>
        </div>

        <% }) %>
      </div>

      <% }%>
    </div>
  </div>
</div>
<%} %> <%- include("footer.ejs") %>
