<%- include("header.ejs") %>

<div class="searched-result">
  <% if(locals.data) { %><% locals.data.forEach(item => { %>
  <card class="card">
    <a href="/details/<%=item.id %>">
      <img src="https://image.tmdb.org/t/p/w500<%=item.poster_path%>" alt="" />
    </a>
    <div class="description">
      <h2><%= item.title || item.name%></h2>
      <h4>Released Date: <%=item.release_date || item.first_air_date%></h4>
    </div>
  </card>
  <% }); %> <% }%>
</div>

<%- include("footer.ejs") %>
